version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: stellux-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      TZ: Asia/Shanghai
    ports:
      - "23306:3306"
    volumes:
      - ./data/mysql-data:/var/lib/mysql
      - ./scripts/mysql-init.sql:/docker-entrypoint-initdb.d/mysql-init.sql:ro
